snippet insfig "Complete figure environment" b
	\begin{figure}[h]
	  \centering
	  % orig:  --> 
	  \includegraphics[width=\columnwidth]{${1:file}}
	  \caption{${2}}
	  \label{fig:${1}}
	\end{figure}
endsnippet

