[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git

[submodule "bundle/gundo"]
    path = bundle/gundo
    url = https://github.com/sjl/gundo.vim.git

[submodule "bundle/mru"]
    path = bundle/mru
    url = https://github.com/vim-scripts/mru.vim.git

[submodule "bundle/python-mode"]
    path = bundle/python-mode
    url = https://github.com/klen/python-mode.git

[submodule "bundle/the-NERD-tree"]
    path = bundle/the-NERD-tree
    url = https://github.com/vim-scripts/The-NERD-tree.git

[submodule "bundle/addon-commenting"]
	path = bundle/addon-commenting
	url = https://github.com/vim-scripts/vim-addon-commenting.git

[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git

[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git

[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git

[submodule "bundle/autojump"]
	path = bundle/autojump
	url = https://github.com/trotter/autojump.vim.git

[submodule "bundle/vimtips-fortune"]
	path = bundle/vimtips-fortune
	url = https://github.com/hobbestigrou/vimtips-fortune.git

[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/othree/xml.vim.git

[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git

[submodule "bundle/ipython"]
	path = bundle/ipython
	url = https://github.com/ivanov/vim-ipython.git

[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer.git

[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git

[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git

[submodule "bundle/project"]
	path = bundle/project
	url = https://github.com/vim-scripts/project.tar.gz.git

[submodule "bundle/ProjectBrowse"]
	path = bundle/ProjectBrowse
	url = https://github.com/vim-scripts/ProjectBrowse.git
[submodule "bundle/atp"]
	path = bundle/atp
	url = git://git.code.sf.net/p/atp-vim/code
