*~
template/
vimrc.bundle
.netrwhist
tags*
vim_phpdebug.sess
.ropeproject

# plugins handled by dein
bundle/merged
bundle/.dein
bundle/repos
bundle/rollbacks

# System-wide plugins
autoload/youcompleteme.vim
doc/tags
doc/youcompleteme.txt
plugin/youcompleteme.vim
plugin/eclim.vim
eclim/
