*~
template/
vimrc.bundle
.netrwhist
tags*
vim_phpdebug.sess
.ropeproject
default_ycm_extra_conf.pyc
spell/*.spl
spell/*.sug

# plugins handled by dein
bundle/merged
bundle/.cache
bundle/.dein
bundle/repos
bundle/rollbacks
bundle/temp

# System-wide plugins
autoload/youcompleteme.vim
doc/tags
doc/youcompleteme.txt
plugin/youcompleteme.vim
plugin/eclim.vim
eclim/
