*~
vimrc.bundle
.netrwhist
tags*
vim_phpdebug.sess
.ropeproject
default_ycm_extra_conf.pyc
spell/*.spl
spell/*.sug
.mypy_cache
/plugin/packer_compiled.lua
/package-lock.json
/package.json
lazy-lock.json

# Symbolic link to an external resource.
spell/cs.utf-8.add
spell/en.utf-8.add
spell/fr.utf-8.add
